//==============================================================================================================================================================================================================================================================================================================================
.header {
	z-index: 100;
	@media (max-width: 919px){
		&__main {
			height: 50px;
		}
		&__row {
			padding-top: 3px;
			justify-content: start;
		}
		&__list {
			transition: all 0.7s ease 0s;
			position: absolute;
			top:-300%;
			left: 0;
			width: 100%;
			height:100%;
			z-index: 2;
			background-color: #fff;
			display: block;
			text-align:center;
			overflow: auto;
			&.active{
				top: 0px;
				padding-top: 50px;
				padding-bottom: 10px;
			}
		}
		&__link{
			margin: 20px 0;
			& a{
				font-size: 33px;
				margin:0px;
			}
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.menu {
	// .menu__icon
		&__icon {
		display: none;
		@media (max-width: 919px){
			&{
				display: block;
				position: absolute;
				z-index: 3;
				width: 35px;
				right: 20px;
				top: 17px;
				height: 20px;
				& span{
					transition: all 0.7s ease 0s;
					background-color: #000;
					position: absolute;
					width: 100%;
					height: 3.84px;
					right: 0;
					top: 8px;
				}
				&:before,&:after{
					content: '';
					transition: all 0.7s ease 0s;
					background-color: #000;
					position: absolute;
					width: 100%;
					height: 3.84px;
					right: 0;
				}
				&:before{
					top: 0;
				}
				&:after{ 
					bottom: 0;
				}
				&.active{
					&:before{
						transform:rotate(-45deg);
						top: 7px;
					}
					&:after{ 
						transform:rotate(45deg);
						bottom: 9px;
					}
					& span{
						transform: scale(0);
					}
				}
			}
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.main {
	@media (max-width: 1114px){
		&__row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__input {
			margin-bottom: 10px;
		}
		&__btn {
			margin-bottom: 40px;
		}
	}
	@media (max-width: 767px){
		&__head{
			margin: 50px 0 33px;
		}
		&__title{
			line-height: 30px;
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.swiper{
	@media (max-width: 622px){
		&-container{
			background: none;
			max-height: 343px;
			@media (max-width: 425px){
				&{
					max-height: 313px;
				}
			}
			@media (max-width: 380px){
				&{
					max-height: 283px;
				}
			}
			@media (max-width: 350px){
				&{
					max-height: 242px;
				}
			}
		}
		&-button-prev,
		&-button-next{
			display: none;
		}
		&-pagination{
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.service{
	@media (max-width: 746px){
		&__row{
			justify-content: center;
			align-items: center;
		}
	}
}
.item {
	@media (max-width: 1056px){
		&__subtitle{
			max-width: 380px;
		}
	}
	@media (max-width: 960px){
		&__subtitle{
			max-width: 330px;
		}
	}
	@media (max-width: 848px){
		&__subtitle{
			max-width: 280px;
		}
	}
	@media (max-width: 746px){
		&__subtitle{
			max-width: 380px;
		}
	}
}

//==============================================================================================================================================================================================================================================================================================================================
.about {
	@media (max-width: 1030px){
		&__content{
			padding: 30px 0 60px;
			margin-left: 10px;
			flex:0 1 47%;
		}
	}
	@media (max-width: 767px){
		&__row{
			flex-direction:column;
		}
		&__img{
			width: 100%;
		}
		&__content{
			margin-right: 10px;
			text-align:center;
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.price {
	@media (max-width: 693px){
		&__row{
			flex-direction:column;
			padding-bottom: 40px;
		}
		&__column{
			max-width: 80%;
			margin: 0 0 20px;
			padding-bottom: 40px;
		}
		&__plan{
			padding: 20px 0 20px;
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.works {
	@media (max-width: 883px){
		&__head{
			margin: 40px 0;
		}
	}
	@media (max-width: 958px){
		&__column {
			margin: 0 10px;
			&_1{
				&:before{
					content:"";
					position: absolute;
					width: 130px;
					height:30px;
					top: -37px;
					left: 70%;
					background-image: url('../img/Arrow_1.png');
					background-repeat: no-repeat;
				}
			}
			&_2{
				&:before{
					content:"";
					position: absolute;
					width: 130px;
					height:30px;
					top: 68px;
					left: 70%;
					background-image: url('../img/Arrow_1.png');
					background-repeat: no-repeat;
					transform: rotate(180deg);
				}
			}
		}
	}
	@media (max-width: 679px){
		&__row{
			flex-wrap:wrap;
			justify-content: center;
			align-items: center;
		}
		&__column {
			margin: 0 10px;
			&_1{
				&:before{
					content:"";
					display: none;
				}
			}
			&_2{
				&:before{
					content:"";
					display: none;
				}
			}
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
.clients {
	@media (max-width: 1152px){
		&__column {
			max-width: 48%;
		}
	}
	@media (max-width: 883px){
		&{
			padding: 40px 0;
		}
		&__row{
			flex-wrap:wrap;
			justify-content: center;
			align-items: center;
		}
		&__column {
			max-width: 100%;
		}
	}
	@media (max-width: 441px){
		&__column {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction:column;
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================

//==============================================================================================================================================================================================================================================================================================================================





.newsletter {
	@media (max-width: 883px){
		&{
			padding: 40px 0 0;
		}
	}
	@media (max-width: 919px){
		&__list {
			flex-wrap:wrap;
		}
	}
	@media (max-width: 827px){
		&__row {
			justify-content: center;
			align-items: center;
			flex-direction:column;
		}
		&__input{
			margin-bottom: 10px;
		}
	}
	@media (max-width: 1170px){
		&__img{
			display: none;
		}
		&__addres{
			position: relative;
			top: 0%;
			left: 0%;
		}
	}
}
//==============================================================================================================================================================================================================================================================================================================================
